header{
    background-color: rgb(255, 42, 14);
    height: 18vh;

}
nav{
     background-color: rgb(231, 255, 11);
    height: 8vh;
}

section{
     background-color: rgb(102, 221, 92);
    height: 48vh;
}
aside{
     background-color: rgb(58, 239, 245);
    height: 8vh;
}
footer{
     background-color: rgb(106, 84, 226);
    height: 18vh;
}

@media (min-width: 576px) {
    nav{
        height: 8vh;
    }
    aside,section{
        height: 56vh;
    }
}

@media(min-width: 992px){
    nav,aside,section{
        height: 64vh;
    }
}