body{
    background-color: rgb(254, 246, 231);
   /* margin: 20px; */
}

h2{
    color: palevioletred;
    font-family: 'Segoe UI';
}

#separador1{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    text-align: left;
}

#señor{
    max-width: 200px;
    width: 100px;
}

#RealMaridIma{
    max-width: 200px;
    width: 100px;
    margin-bottom: 0;
    margin-left: 15px; /* Alinea la imagen a la esquina izquierda */
}

h1{
    text-align: center;
    flex-grow: 1;
}

/*HERENCIA: Los p que estan dentro del div*/
div > p{
    font-family: 'Lucida Sans';
    font-size: 12px;
    text-align: justify;
    color: blueviolet;
}

div > h3{
    font-size: 20px;
}

table{
    border-color: blue;
}

a{
    font-size: 18px;
}

h3, th{
    font-size: 20px;
    color: rgb(53, 53, 148);
}

td {
    color: brown;
    padding: 10px;
    text-align: center;
}

header{
    background-color: peru;
    color: rgb(20, 58, 156) ;
    font-family: 'Times New Roman';
    text-align: center;
    grid-area: cabecera;
    display: inline;
}

nav{
    padding: 10px;
    grid-area: navegable;
    margin-top: 5px;
    background-color: rgb(190, 226, 228);
    display: flex;
    justify-content: center; /* Centrar los elementos horizontalmente */
    flex-wrap: wrap; 
    display: inline;
}

.seccionesPaginas{
    padding: 10px;
    grid-area: contenido;
    margin-top: 5px;
    background-color: rgb(192, 228, 190);
}

footer{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    grid-area: pie;
    margin-top: 5px;
    background-color: rgb(228, 190, 220);
}

.grid {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "cabecera"
        "navegable"
        "contenido"
        "pie";
}

/* Media Queries para pantallas medianas (tablets) */
@media (min-width: 600px) and (max-width: 1000px) {
    .grid {
        grid-template-columns: 160px 2fr;
        grid-template-rows: 160px auto 1fr auto;
        grid-template-areas:
            "cabecera cabecera"
            "navegable contenido"
            "navegable contenido"
            "pie pie";
    }
}

/* Media Queries para pantallas grandes (desktops) */
@media (min-width: 1001px) {
    .grid {
        grid-template-columns: 160px 2fr;
        grid-template-rows: 150px 1fr auto;
        grid-template-areas:
            "cabecera cabecera"
            "navegable contenido"
            "pie pie";
    }
}