/* Header simple con imagen debajo del título */
header{
    text-align: center;
    padding: 10px;
    background-color: beige;
}

#circulo{
    width: 30px;
}

#caja2{
    width: 400px;
    height: auto;
    float: right;
}

h1 {
    color:black;
    margin: 5px;
    background-size: cover
}

h2{
    background-color: rgb(208, 228, 228);
    text-align: center;
}

#caja3{
    background-color: rgb(248, 247, 241);
    margin-bottom: 0px;
    margin-top: 0px;
}

#caja4{
    background-color: rgb(171, 236, 167);
    width: 360px;
    margin-left: 0px;
    float: right;
    
}

/* Nav simple para que los enlaces se alineen horizontalmente */
nav {
    text-align: center;
    background-color: bisque;
    padding: 10px;
}

nav a {
    margin: 0 15px; /* Añade espacio entre los enlaces */
    text-decoration: none;
    color: rgb(26, 36, 97);
}

