#Contenedor{
    padding: 5px;
    border: 3px solid rgb(121, 216, 112);
    min-height: 100vh;
    margin: 10px;
    min-width: auto;
}

h1{
    text-align: center;
    color: rgb(54, 200, 151);
}

p{
    font-size: 20px;
}

#botones {
    display: flex;
    justify-content: space-around; /* Espacia los elementos uniformemente */
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en varias filas si es necesario */
}

/* Para cada botón y su imagen */
.boton-redes {
    display: flex;
    flex-direction: column; /* Coloca la imagen encima del botón */
    align-items: center;
}

/* Estilo de las imágenes */
.boton-redes img {
    width: 50px; /* Ajusta el tamaño de las imágenes */
    height: auto;
    margin-bottom: 10px; /* Espacio entre la imagen y el botón */
}

.btn{
    background-color: rgb(173, 255, 148);
    font-size: 20px;
    border: 1px solid rgb(30, 125, 57);
}

#datosIngresar {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se acomoden en múltiples filas si es necesario */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    margin-left: 45px;
    margin-right: 45px;
}

#nombre, #apellidos{
    width: 48%;
    margin-bottom: 20px;
    font-size: 15px;
}

#correo, #contraseña{
    width: 100%;
    margin-bottom: 20px;
    font-size: 15px;
}

/*PARA LA IMAGEN*/
div {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 20px;
}

#persona {
    width: 50px; 
    height: auto; 
    margin-right: 10px; 
}
