h1{
    color: blueviolet;
    text-align: center;
}

table{
    border-color: coral;
    border-width: 5px;
    margin: auto;
}

th{
    color: purple;
    text-align: left;
}

tbody th{
    text-align: center;
}

#sinBorde{
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-width: 0px;
}
#sinBorde1{
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-width: 0px;
    text-align: right;
}

#borde{
    text-align: right;
}